@font-face {
    font-family: "ssukssuk";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/ssukssuk/ssukssuk.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/ssukssuk/ssukssuk.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/ssukssuk/ssukssuk.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/ssukssuk/ssukssuk.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/ssukssuk/ssukssuk.ttf") format("truetype");
    font-display: swap;
} 
.ssukssuk {
    font-family: "ssukssuk";
}